:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 2.6fr;
    justify-items: center;
}

#banners {
    grid-area: 1 / 1 / 3 / 3;
    place-content: center;
}
#notifications {
    grid-area: 2 / 1 / 3 / 3;
}
#scoreboard {
    grid-area: 1 / 1 / 2 / 3;
}

#goblin-list {
    padding-top: 20px;
    padding-bottom: 100px;
}

.goblin-display {
    border: 1px solid grey;
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    column-gap: 75px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    font-size: 24px;
    height: 125px;
    background-color: rgb(255, 150, 150);
    -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
}

.goblin-display img {
    width: 100px;
    justify-items: start;
}

.health {
    font-size: 32px;
    font-weight: bold;
}

.player img {
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: lightcyan;
    -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
}

.player {
    display: grid;
    grid-template-rows: 0.2fr 1.5fr 1.3fr;
    justify-items: center;
}
